*{
    color: white;
}

body{
    margin: 0;
    background-color: #efcacd;
    font-family: Trebuchet MS;
}

#menu{
    background-color: #CE5761;
    height: 140px;
    width: 100%;
}

#searchinput{
    width: 400px;
    font-size: 18px;
    background-color: #00000000;
    border: 3px solid white;
    border-right: 1px solid white;
}

#searchbutton{
    background-color: #00000000;
    border: 3px solid white;
    border-left: none;
    width: 40px;
}

#header{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 140px;
    grid-template-areas: "homepage searchbar shoppingcart";
    align-items: center;
}

#searchform {
    display: flex;
}

.formlogin{
    box-shadow: 0 0 8px #00000030;
    background-color: aliceblue;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    grid-template-areas: "inputlogin" "inputpassword" "buttonlogin" "registertext";
}

.loginform{
    margin: 5px;
    margin-bottom: 20px;
    color: #ac3a43;
    grid-area: buttonlogin;
    width: 310px;
    font-size: 18px;
    background-color: #00000000;
    border: 1px solid #ac3a43;
}

#logintext{
    color: #ac3a43;
    margin-top: 200px;
    grid-area: registertext;
}

/* ~~~~ produkty ~~~~ */

.productdiv{
    color: black;
    height: 520px;
    width: 320px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 270px 30px;
    grid-template-rows: 320px 80px 50px 30px;
    grid-template-areas:
    "img img"
    "nazwa ilosc"
    "cena cena"
    "przycisk przycisk";
}

.productimg{
    height: 320px;
    grid-area: img;
}

.productnazwa{
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    grid-area: nazwa;
    color: black;
}

.productcena{
    margin: 0;
    font-size: 20px;
    grid-area: cena;
    color: black;
}

.productilosc{
    margin-top: 15px;
    font-size: 20px;
    grid-area: ilosc;
    color: black;
}

.productbtn{
    width: 350px;
    height: 40px;
    font-size: 20px;
    color: #4e914e;
    background-color: #00000000;
    border: 1px solid #4e914e;
}

.productbtndiv{
    grid-area: przycisk;
    display: flex;
    justify-content: center;
}

/* ~~~~ strona pracownika ~~~~ */

.productworkerdiv{
    color: black;
    height: 270px;
    width: 570px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 430px 140px;
    grid-template-rows: 170px 50px 15px 20px;
    grid-template-areas:
    "img btns"
    "nazwa btns"
    "cena btns"
    "ilosc btns";
}

.productworkerimg{
    height: 170px;
    width: 170px;
    grid-area: img;
}

.productworkernazwa{
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    grid-area: nazwa;
    color: black;
}

.productworkercena{
    margin: 0;
    font-size: 20px;
    grid-area: cena;
    color: black;
}

.productworkerilosc{
    margin-top: 15px;
    font-size: 20px;
    grid-area: ilosc;
    color: black;
}

.btns{
    grid-area: btns;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 140px;
    grid-template-rows: 40px 70px 40px 70px 40px;
    grid-template-areas:
    "post"
    "s"
    "edit"
    "d"
    "delete";
}

.productworkerbtn{
    width: 140px;
    height: 40px;
    font-size: 20px;
}

.productworkerhid{
    grid-area: post;
    color: #4e914e;
    background-color: #00000000;
    border: 1px solid #4e914e;
}

.productworkeredit{
    grid-area: edit;
    color: #4d96db;
    background-color: #00000000;
    border: 1px solid #4d96db;
}

.productworkerdel{
    grid-area: delete;
    color: #db4d4d;
    background-color: #00000000;
    border: 1px solid #db4d4d;
}

.productworkeritpnazwa{
    font-size: 23px;
    color: black;
    font-weight: bold;
}

.productworkeritpcena{
    color: black;
}

.productworkeritpilosc{
    color: black;
}

/* ~~~~ koniec ~~~~ */

.productworkerdiv a {
    color: #4d96db;
}